

<p>
	<strong>Artist:</strong>
  	<%= @painting.name %>
</p>

<p>
  	<strong>Artist:</strong>
  	<%= @painting.artist %>
</p>

<p>
  	<strong>Museum:</strong>
  	<%= @painting.museum %>
</p>

<p>
  	<%= @painting.image %>
</p>



<%= link_to 'Back', paintings_path %>
